{% extends "base.html" %}
{% block start %}

<div class="container" >
    <h2 align="center">My Recipes Workarea</h2>
    <br>
    <table class="table table-striped" style:textalign="center">
        <thead>
            <tr>
                <th scope="col">Operation</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Add Recipe</td>
                <td><a href="/recipes/" class="btn btn-primary">Add Recipe</a></td>
            </tr>
            <tr>
                <td>Get Recipes</td>
                <td><a href="/get-recipes/" class="btn btn-primary">Get Recipe</a></td>
            </tr>
            <tr>
                <td>Add Category</td>
                <td><a href="/categories/" class="btn btn-primary">Add Category</a></td>
            </tr>
            <tr>
                <td>Get Categories</td>
                <td><a href="/get-categories/" class="btn btn-primary">Get Categories</a></td>
            </tr>
            <tr>
                <td>Add Ingredient</td>
                <td><a href="/ingredients/" class="btn btn-primary">Add Ingredient</a></td>
            </tr>
            <tr>
                <td>Get Ingredients</td>
                <td><a href="/get-ingredients/" class="btn btn-primary">Get Ingredients</a></td> 
            </tr>
            <tr>
                <td>Add Recipe-Category</td>
                <td><a href="/recipecategories/" class="btn btn-primary">Add Recipe-Category</a></td>
            </tr>
            <tr>
                <td>Get Recipe Categories</td>
                <td><a href="/get-recipecategories/" class="btn btn-primary">Get Recipe-Categories</a></td> 
            </tr>
            <tr>
                <td>Add Recipe Ingredient</td>
                <td><a href="/recipeingredients/" class="btn btn-primary">Add Recipe-Ingredient</a></td>
            </tr>
            <tr>
                <td>Get Recipe Ingredients</td>
                <td><a href="/get-recipeingredients/" class="btn btn-primary">Get Recipe-Ingredients</a></td> 
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}

